.placement-cell-section {
    background-image: url("../../images/bg-frame.png");
    background-size: 100%;
}

.placement-cell-container {
    text-align: justify;
    width: min(1500px, 100%);
    margin-inline: auto;
    padding: 1rem;
}

.placement-cell-container>h1 {
    font-size: min(4rem, 8vw);
    text-align: center;
    font-family: "SF Pro Display-Bold";
    
}

.placement-cell-container>h2 {
    font-family: "SF Pro Display-Bold";
    font-size: min(2rem, 4vw);
    text-align: center;
}

.placement-cell-container>h3 {
    font-family: "SF Pro Display-Bold";
    font-size: min(2rem, 4vw);

}

.placement-cell-container>p {
    font-size: min(1.37rem, 3vw);

}

.pieimg {
    text-align: center;

}

.graphimg {
    text-align: center;

}