.nss-section {
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    padding: min(2rem, 2vw);
    width: 100%;
}

.nss-header {
    margin-inline: auto;
    position: relative;
}

.nss-header img{
    width: 100%;
}

.nss-header-title {
    position: absolute;
    bottom: 0;
    color: white;
    padding: min(2rem, 2vw);
}

.nss-header-title p {
    color: #D4D4D4;
    font-family: "SF Pro Display-Medium";
    font-size: min(2rem, 4vw);
}

.nss-header-title h1 {
    font-size: min(5rem, 10vw);
    margin-block: 1.5rem;
    font-family: "SF Pro Display-Medium";
}

.about-nss-section {
    padding: min(2rem, 2vw);
    display: grid;
    grid-template-columns: 40% 60%;
}

.about-nss {
    display: flex;
    flex-direction: column;
}

.about-nss h1 {
    font-family: "SF Pro Display-Bold";
    font-size: min(5rem, 10vw);
}

.about-nss p {
    color: #383838;
    font-size: min(1.6rem, 3.2vw);
    line-height: 2rem;
}

.nss-carousel-img {
    width: 600px;
    object-fit: contain;
    margin-left: auto;
}
.events-header{
    display: flex;
    align-items: center;
    gap: min(2rem, 2vw);
}
.events-header >  button {
    background-color: #005E93;
    border-radius: 2rem;
    padding: min(1rem, 1vw) min(4rem, 4vw);
    color: white;
    font-size: min(1.6rem, 3.2vw);
    width: max-content;
    margin-block: min(4rem, 4vw);
}

.event-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: min(2rem, 2vw);
}

.event-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    aspect-ratio: 390/500;
    padding: min(1rem, 1vw);
    border: 1.31944px solid #E2E2E2;
}

.event-card h1 {
    color: #2D2D2D;
    font-size: min(1.1rem, 2.2vw);
    text-align: left;
    margin: 0;
    padding-block: min(2rem, 2vw);
    border-bottom: 2px solid rgba(0,0,0,0.2) ;
}
.event-card p {
    text-align: left;
    color: #9F9F9F;
    font-size: min(1rem, 2vw);
}
.event-card-bottom{
    margin-top: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: min(2rem, 2vw);
}

.date-chip{
    background-color: #005E93;
    color: white;
    padding: min(.5rem, .5vw) min(2rem, 2vw);
    border-radius: 2rem;
    font-size: min(0.875rem, 1.5vw);
}
.register-btn{
    background-color: white;
    color: #005E93;
    padding: min(.5rem, .5vw) min(2rem, 2vw);
    border-radius: 2rem;
    font-size: min(0.875rem, 1.5vw);
    outline: 2px solid #005E93

}