@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.TestimonailAddContainer,.societyAddConatiner{
    display: flex;
}

.TestimonialDetailContainer,.SocietyDetailContainer {
    width: 100%;
    /* margin: auto auto; */
}

.TesHeadingFormContainer,.SocietyFormContainer{
    width:1000px;
    margin: auto;
}

.Testimonial_Heading h1 ,.Society_Heading h1{
    font-size: 25px;
    padding: 10px;
    font-family: 'Edu NSW ACT Foundation', cursive;

}

.TestimonialForm ,.SocietyForm {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.TestimonialForm input,
textarea , .SocietyForm input{
    padding: 20px 15px;
    border-radius: 10px;
    border: 1px solid #dce0e4;
    font-size: 20PX;
    font-family: 'Abel', sans-serif;
    resize: none;
    overflow-y: scroll;
    width: 100%;
}


textarea::-webkit-scrollbar{
    border: 1px solid #fff;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb{
    border-radius:10px;
    background-color: #72ddf7;
}

input:focus,
textarea:focus {
    outline: 1px solid #212b36;
}


.button-19 {
  appearance: button;
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

::placeholder {
    font-size: 20px;
    font-family: 'Edu NSW ACT Foundation', cursive;
    border: none;
}

