.test-al-section {
    background: url("../../images/bg-frame.png");
    background-size: 100%;
    width: 100%;
    padding: min(2rem, 2vw);
}

.test-al-section > h1{
    font-family: "SF Pro Display-Bold";
    font-size: min(4rem, 8vw);
    text-align: center;
}

.t-grid {
    width: min(1500px, 100%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-inline: auto;
    gap: min(5rem, 5vw);
    
}

.t-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
    outline: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: min(1rem, 1vw);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    background-color: white;

}
.card-img{
    width: 50%;
    aspect-ratio: 1;
    outline: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;;
}
.card-info{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info p{
    text-align: justify;
    font-size: min(1.37rem, 3vw);
}

@media(max-width: 1000px) {
    .test-al-section {
        background-image: none;
    }
    .t-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}