.courses-section{
    background-image: url("../../images/bg-frame.png");
    width: 100%;
}

.courses>h1{
    font-size: min(3rem,6vw);
    font-family: "SF Pro Display-Bold";
    text-align: center;
}
.courses>p{
    font-size: min(1.5rem,4vw);
    text-align: justify;
}
.diploma h1{
    font-size: min(2rem,4vw);
    font-family: "SF Pro Display-Bold";
}

.list-wrapper{
    margin-inline: auto;
    width: min(1000px, 100%);
    position: relative;
}
.list-wrapper h1{
    font-size: min(1.37rem, 3vw);
    color: black;
}
.list-wrapper p{
    font-size: min(1.37rem,3vw);
    text-align: justify;
    min-width: 90%;
    margin-inline: auto;
}
.list-wrapper button{
    font-size: min(2rem,4vw);
    background-color: var(--primary-clr);
    color: white;
    border-radius: 0.5rem;
    width: min(1000px, 100%);
    margin: 1rem;
    padding: 1rem;
}

.diploma{
    text-align: center;
    
}
.courses{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(1500px, 100%);
    padding: 1rem;
    margin-inline: auto;
}
.content,
.content-1,
.content-2{
/*    display: none; */
}

.courses img{
    margin-inline: auto;
   
}