/* Administration */
.adminis-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background: url("../../images/bg-2.png");
    background-size: 100%;

}

.adminis-carousel {
    margin-inline: auto;
    width: min(1500px, 100%) !important;
    padding: min(2rem, 2vw);
    overflow: visible !important;
}

.carousel-root {
    overflow: visible !important;
}


.adminis {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    margin-inline: auto;
    padding-inline: min(4rem, 8vw);
}

.adminis-img {
    margin-inline: auto;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 400px;
}

.adminis-img img {
    object-fit: contain;
    aspect-ratio: 1;
}

.adminis-heading,
.short-note {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.long-note {
    text-align: justify;
    line-height: clamp(1.5rem, 2vw, 2rem);
    color: rgba(0, 0, 0, 0.9);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
}

.position {
    color: var(--primary-clr) !important;
}

@media(max-width: 1000px) {
    .adminis-section {
        background-image: none;
    }
}