/* society */
.society {
    text-align: center;
    margin-inline: auto;
    padding-top: min(2rem,2vh);
    background: url("../images/bg-2.png");
    background-size:100%;
}

.society h1 {
    font-size: min(3rem,6vw);
    color:var(--secondary-clr);;
}

.society h2 {
    font-size: min(1.7rem,3.5vw);
    text-align: center;
}

.society p {
    font-size: min(1.7rem,3.5vw);
    color: rgba(0, 0, 0, 0.8);
    padding-left: 23%;
    width: 80%;
    text-align: justify;
}

.society img {
    width: min(700px,80vw);
    aspect-ratio: 7/5;
    border: 2px solid black;
}

.nsslink {
    font-size: min(2rem,4vw);
}