/* society */
.society {
    text-align: center;
    width: 80%;
    margin-inline: auto;
    padding-top: min(2rem,2vw);
}

.society h1 {
    font-size: min(2rem,2vw);
}

.society h2 {
    font-size: min(1.7rem,1.7vw);
}

.society p {
    font-size: min(1.7rem,17vw);
    color: rgba(0, 0, 0, 0.8);
    text-align: justify;
}

.society img {
    width: min(700px,70vw);
    aspect-ratio: 7/5;
    border: 2px solid black;
}

.nsslink {
    font-size: min(2rem,2vw);
}