/* society */
.society {
    text-align: center;
    margin-inline: auto;
    padding-top: min(2rem, 2vh);
    background: url("../images/bg-frame.png");
    background-size: 100%;
}

.society h1 {
    font-size: min(4rem, 8vw);
    font-family: "SF Pro Display-Bold";
}

.society-sub-heading {
    font-size: min(1.7rem, 3.5vw);
    text-align: center;
    font-weight: bolder;
}

.society-p {
    font-size: min(1.37rem, 3vw);
    color: rgba(0, 0, 0, 0.8);
    width: min(1000px, 90%);
    text-align: justify;
    margin-inline: auto;
    white-space: break-spaces;
}

.society img {
    width: min(700px, 80vw);
    aspect-ratio: 7/5;
    border: 2px solid black;
}

.nsslink {
    font-size: min(2rem, 4vw);
}

@media(max-width: 1000px) {
    .society {
        background-image: none;
    }
}