.examination-section {
    background: url("../../images//bg-frame.png");
    background-size: 100%;

}

.examination {
    text-align: justify;
    padding: 1rem;
    width: min(1500px, 100%);
    margin-inline: auto;
}


.examination p {
    font-size: min(1.37rem, 3vw);
    color: rgba(0, 0, 0, 0.9);
}

.examination h1 {
    font-size: min(4rem, 8vw);
    text-align: center;
    border-radius: 10px;
    font-family: "SF Pro Display-Bold";
    color: #2d2d2d;
}

.examination h2 {
    font-size: min(1.8rem, 5vw);
    font-family: "SF Pro Display-Bold";

}

.examination li {
    font-size: min(1.37em, 3vw);
}