.examination{
    text-align: justify;
    padding: min(3.5rem,3.5vw);
}


.examination p{
    font-size: min(1.8rem,4vw);
    color: rgba(0, 0, 0, 0.9);
}

.examination h1{
    font-size: min(4rem,6vw);
    background-color:#478ac9;
    text-align: center;
}
.examination h2{
    font-size: min(1.8rem,6vw);
}
.examination li{
    font-size: min(1.8rem,4vw);
    color: rgba(0, 0, 0, 0.9);
}