.n_container > h1{
    color: var(--secondary-clr);
    font-size: 45px;
    text-align: center;
}

.col{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 2px solid var(--primary-clr);
    background-color: var(--primary-clr);
    padding: 10px 40px;
    margin: 10px;
    border-radius: 10px;
}

/* .b1, .b2, .b3, .b4, .b5, .b6{
    border: 2px solid var(--secondary-clr);
    background-color: var(--secondary-clr);
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
} */

.b{
    border: 2px solid var(--secondary-clr);
    background-color: var(--secondary-clr);
    margin: 5px 10px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.nt > a{
    font-weight: 600;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.nc > p{
    text-align: justify;
}

@media (max-width:1000px) {
    .col{
        grid-template-columns: 1fr 1fr;
        padding: 20px 20px;
    }
}

@media (max-width: 600px) {
    .col{
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .b1, .b2, .b3, .b4, .b5, .b6{
        margin-bottom: 30px;
    }    
}