/* director read more */

.dir-readmore {
    width: 100%;
    margin-inline: auto;
    padding: min(2rem, 2vw);
    background: url("../images/bg-frame.png");
    background-size: 100%;
}

.cont {
    position: relative;
    width: max-content;
    margin-inline: auto;
    padding-top: 3rem;
    width: min(1000px, 100%);
}

.gradient {
    background: linear-gradient(to top, rgb(0, 0, 0), transparent);
    position: absolute;
    width: 100%;
    height: 100%;
}

.cont img {
    width: min(800px, 90%);
}

.title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 4rem;
    font-size: min(2rem, 5vw);
    color: white;
}

.dir-readmore h2 {
    font-size: min(2rem, 5vw);
    text-align: center;
    padding-top: 3rem;
    width: min(1000px, 100%);
    margin-inline: auto;
    color: var(--primary-clr);
}

.dir-readmore h3 {
    font-size: min(1.8rem, 4vw);
    text-align: center;
    width: min(1000px, 100%);
    margin-inline: auto;
    color: var(--primary-clr);
}

.dir-readmore p {
    font-size: min(1.5rem, 3vw);
    text-align: justify;
    width: min(1000px, 100%);
    margin-inline: auto;
}

@media(max-width: 1000px){
    .dir-readmore{
        background-image: none;
    }
}