.syllabus {
    background: url("../../images/bg-frame.png");
    background-size:100%;
    margin-bottom: min(2rem,2vw);
}

.syllabus h1 {
    font-size: min(3rem, 8vw);
    background-color: var(--secondary-clr);
    width: 90%;
    text-align: center;
    color: white;
    margin: 40px 5%;
}

.imptop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 20px;
}

.imptop td, th {
    border-bottom: 1px solid var(--secondary-clr);
    border-right: 1px solid var(--secondary-clr);
    padding: 8px;
}

.imptop li {
    font-size: 17px;
}

.t {
    display: flex;
    justify-content: center;
}

.t table {
    border: 2px solid var(--secondary-clr);
}

.t th {
    border-bottom: 1px solid var(--primary-clr);
}

table {
    border: 2px solid var(--primary-clr);
    width: 500px;
    height: 200px;
}

th {
    border-bottom: 1px solid var(--secondary-clr);
    font-size: 25px;
}

td {
    text-align: center;
    font-size: 20px;
}

td>a {
    text-decoration: none;
}


@media(max-width: 1000px){
    .syllabus{
        background-image: none;
    }

    .imptop{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
}

@media(max-width: 600px){
    .syllabus{
        width: 80%;
        margin: 20px 10%;
    }

    
}