.syllabus h1 {
    font-size: min(3rem, 8vw);
    background-color: #478ac9;
    width: 100%;
    text-align: center;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn> a{
    font-size: 22px;
    font-weight: 700;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 0 20px;
    background-color: #edb458;
    text-align: center;
    text-decoration: none;
    padding: 12px;
    color: black;
}

.syllabus {
    margin: min(2rem,2vw);
}