/* Home Carousel */

.home-carousel-container {
    position: relative;
    width: 100%;
    padding: min(2rem, 2vw) min(4rem, 4vw);
    background: linear-gradient(252.16deg, #FFFFFF 12.88%, #E7F3FF 60.19%);
}

.home-carousel-container img {
    border-radius: 16px;
}

.home-carousel-container .control-next {
    right: 30px !important;
}

.home-carousel-container .control-prev {
    left: 30px !important;
}

/* Welcome */

.welcome {
    background-image: url("../images/bg-welcome.png");
    background-size: 100%;
    display: grid;
    padding-block: min(7rem, 7vh);
    padding-inline: min(4rem, 4vw);
    position: relative;
    grid-template-columns: 35% 65%;
    width: 100%;

}

.welcome-img {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding-right: min(4rem, 4vw);
    height: max-content;
    margin-block: auto;
}


.welcome-img img {
    border-radius: 16px;
    width: 100%;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.welcome-text h1 {
    font-size: min(4rem, 8vw);
    color: #2D2D2D;
    font-family: "SF Pro Display-Bold";
}

.welcome-text p {
    font-size: min(1.5rem, 3vw);
    line-height: min(2.5rem, 5vh);
    width: 95%;
    color: #2D2D2D;
    font-weight: 400;
}

.develop-skills-btn {
    padding: min(1rem, 2vw) min(2rem, 4vw);
    margin-bottom: min(2rem, 2vw);
    background-color: #005E93;
    padding-inline: 2.5rem;
    color: white;
    font-size: min(2rem, 4vw);
    border-radius: 5rem;
    transition: 250ms;
    display: flex;
    align-items: center;
    gap: min(1rem, 1vw);
    margin-top: auto;
    width: max-content;
}

.skills-text {
    color: white;
}

.develop-skills-btn:hover {
    background-color: var(--primary-clr);
    outline: 3px solid white;
}

.learn-more-btn:hover {
    background-color: var(--secondary-clr);
}

.skill-arrow {
    width: 3%;
}

@media(max-width: 1000px) {
    .welcome {
        grid-template-columns: auto;
        grid-auto-flow: row;

    }

    .welcome p {
        text-align: justify;
    }

    .develop-skills-btn {
        margin-inline: auto;
        margin-bottom: 0;
        margin-top: 1rem;
    }
}


/* Testimonial cards */

.test-section {
    padding-bottom: min(3rem, 3vh);
    background: linear-gradient(180deg, #E7F3FF 0%, #F1F1F1 100%);
    padding: min(39px, 2vw);
    --padding: min(25px, 2vw);
}

.test-section .control-arrow {
    background-color: #005e93 !important;
}

.test-container {
    padding-inline: var(--padding);
}

.test {
    margin-inline: auto;
    width: 100%;
}

.t-heading {
    font-size: min(3.75rem, 7.5vw);
    padding-inline: var(--padding);
    font-family: "SF Pro Display-Bold";
    margin-block: 12px;
}

.card {
    border-radius: 2rem;
    background: #FDFEFF;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    position: relative;
}

.test-quote {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    margin: min(1.5rem, 1.5vw);
    object-fit: contain;
    object-position: 0;
}


.card-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: min(3rem, 3vw) min(6rem, 6vw);
}

.card p {
    font-size: min(2.5rem, 5vw);
    line-height: 50px;
    color: #606060;
    text-align: start;
    z-index: 2;
}

.testi-name {
    margin-top: auto;
}

.batch {
    text-align: start;
    color: #9A9A9A;
}

.card h1 {
    color: #005E93;
    line-height: 36px;
    text-align: start;
    font-family: "SF Pro Display-Bold";
}

.testimonial-img {
    background: linear-gradient(123.5deg, #FFFFFF 23.2%, #EAF4FF 74.08%);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 2rem;
}

.testimonial-img img {
    width: 50% !important;
}

@media(max-width: 1000px) {
    .test-carousel {
        width: 400px !important;
    }

    .test {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }
}

@media(max-width: 600px) {
    .card {
        padding: 3rem;
    }

    .test h1 {
        font-size: 2.2rem !important;
    }

    .test p {
        font-size: 1rem !important;
        text-align: justify;
    }
}

/* director msg */
.director-msg {
    position: relative;
    z-index: 9;
    background: linear-gradient(180deg, #F1F1F1 0%, #E7F3FF 100%);
    padding: min(4rem, 4vw);
}

.director-heading {
    font-size: min(3.75rem, 7.5vw);
    margin-block: 12px;
    color: #2D2D2D;
    font-family: "SF Pro Display-Bold";
}


.director-container {
    background-color: #005E93;
    padding: min(4rem, 4vw) 0 0 min(4rem, 4vw);
    z-index: 11;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}

.dir-quote {
    width: 100px;
    object-fit: contain;
}

.director-container p {
    color: white;
    font-size: min(2.5rem, 5vw);
    width: min(820px, 85%);
    line-height: 50px;
    -webkit-text-stroke: #005E93 0.5px;
}

.dir-bold {
    -webkit-text-stroke: #005E93 0px;
}

.director-img {
    position: absolute;
    width: 50%;
    left: 93%;
    top: -10%;
}

.director-img img {
    border-radius: 2rem 6rem 2rem 2rem;
    width: 100%;
}

.director-position {
    position: absolute;
    left: 92%;
    top: 50%;
    color: white;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-40%, -50%);
    transform-origin: left;
    letter-spacing: 0.8px;
}

.director-position::before {
    content: '';
    width: 50px;
    height: 1px;
    background-color: white;
    position: absolute;
    transform: translate(-130%, 6px);
}

/* .wmk {
    font-size: min(2rem, 4vw);
    text-align: center;
}

.dr-short-note {
    font-size: min(1.8rem, 3.6vw);
    text-align: center;
}

.dr-long-note {
    font-size: min(1.7rem, 3.4vw);
    text-align: center;
}

.read-arrow {
    height: min(2rem, 2vw) !important;
    aspect-ratio: 1;
}

.read-link {
    text-decoration: none;
    color: white;
    z-index: 12;
}

.read-link {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
} */


/* Committees */
.committees {
    padding: 4rem;
    background: linear-gradient(180deg, #E7F2FE 58.85%, #F1F7FE 100%);

}

.committees-container {
    display: grid;
    width: min(1550px, 100%);
    grid-template-columns: repeat(2, 1fr);
    margin-inline: auto;
    gap: min(6rem, 6vw);
}

.committee-item {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
}

.committee-item a >a {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    color: white;
    background-color: #005E93;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    border-radius: 2rem;
}

.committee-item>a {
    margin-left: auto;
    padding-block: 0em;
    padding-inline: 0em;
}
.com-pdf{
    height: 100vh;
}

.committee-img {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, -50%);
    border-radius: 50%;
    padding: 1rem;
    border: 20px solid #E7F2FE;
    background-color: white;
}

.committee-content {
    width: 80%;
    margin-top: 30px;
    position: relative;
}

.committee-content h1 {
    font-size: min(2rem, 4vw);
}

.committee-content p {
    line-height: 35px;
    margin: 0;
    font-size: min(1.5rem, 2vw);
    width: 90%;
}

@media(max-width: 1000px) {
    .committees-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Placements */
.placements {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #F0F6FD 0%, #E7F2FE 44.27%);
    --padding: min(4rem, 4vw);
    padding: var(--padding);
}

.placements-container {
    --scroll-width: 9px;
    width: 100%;
}

.placements-container>h1 {
    font-size: min(3.75rem, 7.5vw);
    font-family: "SF Pro Display-Bold";
}

.placement-bg {
    position: absolute;
    width: 35%;
    height: calc(100% - var(--scroll-width) - var(--padding));
    right: 0;
    top: 0px;
    background: linear-gradient(270deg, #EDF5FD 15.76%, rgba(255, 255, 255, 0) 94.58%);
    z-index: 10;
}

.scroll-btn {
    position: absolute;
}

.placement-grid {
    display: flex;
    gap: min(3rem, 3vw);
    overflow-x: scroll;
    padding-bottom: min(4rem, 4vw);
    position: relative;
    scroll-snap-type: x mandatory;
    scroll-behavior: 'smooth';
}

.placement-grid>div {
    scroll-snap-align: start;
    scroll-margin-inline: min(2rem, 2vw);
}

.placement-grid::-webkit-scrollbar {
    background-color: white;
    height: 9px;
}

.placement-grid::-webkit-scrollbar-thumb {
    background-color: #005E93;
    border-radius: 9px;
}



.place-card {
    --wdith: 350px;
    min-width: var(--wdith);
    max-width: var(--wdith);
    aspect-ratio: 66/100;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: white;
    padding: min(1rem, 1vw);
    border-radius: 22px;
    box-shadow: 0 10px 30px 10px rgba(125, 162, 178, 0.2);
}

.placements img {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 91.6/100;
}
.blank {
    box-shadow: none;
    background-color: transparent;
}

.place-heading {
    font-size: min(1.875rem, 3.75vw);
    color: #181818;
    margin-top: auto;
    margin-bottom: 3px;
}

.place-card p {
    font-size: min(1.25rem, 2.5vw);
    color: #C0C0C0;
    margin-top: 0;
    margin-bottom: 1rem;
}


@media(max-width: 600px) {
    .placement-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }

    .placements img {
        width: 400px;
    }
}

/* Collaboration */
.collab {
    position: relative;
    background-color: #E7F2FE;
    padding: min(4rem, 4vw);
}

.collab-container {
    position: relative;
}

.collab-container h1 {
    font-size: min(4rem, 8vw);
    font-family: "SF Pro Display-Bold";
}

.collab-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: min(2rem, 2vw);
    padding-bottom: min(3rem, 3vw);
    position: relative;
}

.collab-img {
    background-color: white;
    padding: min(1rem, 1vw);
    border-radius: 10px;
    width: 100%;
    height: 250px;
    position: relative;
}

.collab-img img {
    height: 100%;
    object-fit: contain;
}


@media(max-width: 1000px) {
    .collab-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Recruiters */
.recruiters {
    background-color: #E7F2FE;
    padding: min(4rem, 4vw);
}

.recruiters-container {
    position: relative;
}

.recruiters h1 {
    font-size: min(3.75rem, 7.5vw);
    font-family: "SF Pro Display-Bold";
}

.recruiters-item {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: min(2rem, 2vw);
    padding-bottom: min(3rem, 3vw);
    position: relative;
}

.bottom-border {
    position: absolute;
    left: 85px;
    right: 130px;
    border-bottom: 2.6px solid #686868;
}

.recruiter-img {
    background-color: white;
    padding: min(1rem, 1vw);
    border-radius: 10px;
    width: 100%;
    height: 250px;
    position: relative;
}

.recruiter-img img {
    height: 100%;
    object-fit: contain;
}


/* @media(max-width: 1000px) {
    .recruiters-item {
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* map */
.map-section {
    display: flex;
    width: 100%;
    position: relative;
    background-color: #E7F2FE;
    padding: min(4rem, 4vw);
}

.map-container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}

.address-container {
    box-shadow: 10px 10px 27px 5px rgba(125, 162, 178, 0.5);
    background-color: white;
    border-radius: 20px;
    padding: min(1.5rem, 1.5vw) min(2rem, 2vw);
    position: relative;
    width: 60%;
    margin-block: 2.5%;
}

.address-container h1 {
    font-family: "SF Pro Display-Bold";
    color: #2D2D2D;
    font-size: min(3.75rem, 7.5vw);
    margin: 0;
}

.address-wrapper {
    display: flex;
    flex-direction: column;
    gap: min(3rem, 3vw);
    padding-block: min(3.5rem, 3.5vw);
}

.address-item {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: min(2rem, 2vw);

}

.map-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #E8ECF5;
    aspect-ratio: 1;
}

.map-item-img img {
    object-fit: contain;
}

.map-item-wrapper {
    display: flex;
    flex-direction: column;
    gap: min(0.5rem, 0.5vw);
}

.map-item-wrapper div {
    color: #7F8087;
    font-size: min(1.6rem, 3.2vw);
}

.map-item-wrapper p {
    color: #2D2D2D;
    font-size: min(1.9rem, 3.8vw);
    margin: 0;
}

.chips {
    display: flex;
    gap: min(1rem, 1vw);
    padding-block: min(1rem, 1vw)
}

.chip {
    padding: min(0.75rem, 0.75vw) min(1.5rem, 1.5vw);
    border-radius: min(1.75rem, 1.75vw);
    background-color: #005E93;
    color: white;
    display: flex;
    align-items: center;
    gap: min(1rem, 1vw);
    font-size: min(1.4rem, 2.8rem);
}

.map-frame {
    height: 100%;
    width: 45%;
    margin-left: -5%;
    border: none;
    outline: none;
    border-radius: 20px;
}