
/* Home Carousel */

.home-carousel-container {
    position: relative;
    width: 100%;
}

.home-carousel {
    width: 100% !important;
}


/* Welcome */

.welcome {
    background-color: #478ac9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome-wrapper {
    display: flex;
    color: white;

}

.welcome-img {
    width: min(531px, 80%);
    aspect-ratio: 531/632;
    border-radius: 3rem;
    object-fit: cover;
    margin-top: min(5rem, 10vw);
    margin-inline: auto;
}

.welcome-text {
    display: flex;
    flex-direction: column;
}

.welcome-text h1 {
    text-align: center;
    padding: min(2rem, 2vw);
    font-size: min(2.5rem, 5vw);
}

.welcome-text p {
    margin-inline: min(1.5rem, 3vw);
    font-size: min(1.375rem, 2.75vw);
    line-height: 2;
    text-align: justify;
}

@media(max-width: 1000px) {
    .welcome-wrapper {
        flex-direction: column;
    }
}

/* welcome buttons */
.learn-more-btn {
    margin: min(2rem, 2vw) min(4rem, 4vw) min(2rem, 4vw) auto;
    border: none;
    outline: none;
    padding: min(1rem, 2vh) min(2rem, 2vw);
    text-transform: uppercase;
    background-color: #2cccc4;
    color: white;
    letter-spacing: .1rem;
    font-size: min(1.125rem, 2.5vw);
}

.develop-skills-btn {
    margin: auto auto min(6rem, 6vw) auto;
    border: none;
    outline: none;
    padding: min(2rem, 2vw) min(16rem, 16vw);
    text-transform: uppercase;
    background-color: #2cccc4;
    color: white;
    letter-spacing: .1rem;
    font-size: min(1.5rem, 5vw);
}
/* Testimonial cards */

.test-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: min(3rem, 3vh);
}
.test {
    display: grid;
    margin-inline: auto;
    gap: min(2rem, 1vw);
    grid-template-columns: repeat(3, 1fr);
    width: 100%;

}
.test-carousel{
    width: min(1200px, 100%) !important;
    margin-inline:  auto !important;
}



.test p {
    font-style: italic;
    text-align: center;
    font-size: min(1.2rem, 2.5vw);
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6;


}

.t-heading {
    
    text-align: center;
    font-size: min(3rem, 6vw);
    color: #ec640c;
}


.test h1 {
    
    text-align: center;
    font-size: min(2.3rem, 5vw);
    color: #478ac9;
}

.card-1 {
    background-color: #2cccc4;

}

.card-1 h1,
.card-1 p {
    color: white !important;
}

.card {
    padding: min(1rem, 1vh) min(3rem, 3vw);
    border-radius: 2rem;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


@media(max-width: 600px){
    .test{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }
    .card{
        padding: 3rem;
    }
    .test h1{
        font-size: 2.5rem !important;
    }
    .test p{
        font-size: 1.5rem !important;
        text-align: justify;
    }
}
/* director msg */
.director-msg {
    padding: min(4rem, 4vw);
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -2;
    background: url("https://images01.nicepagecdn.com/c461c07a441a5d220e8feb1a/2cc1a632c8c5511c86638369/jhhhhhh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.director-msg img {
    z-index: 1;
    border-radius: min(5rem, 8rem);
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #478ac9;
    opacity: 0.7;
    z-index: -1;
}


.director-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: min(600px, 100%);
    background-color: #77aad9;
    padding: min(2rem, 2vw) 
}

.director-container img {
    height: min(500px, 50vw);
    aspect-ratio: 1;
    margin-inline: auto;
}

.director-heading {
    font-size: min(3.8rem, 8vw);
    text-align: center;

}

.wmk {
    font-size: min(2rem, 4vw);
    text-align: center;
}

.dr-short-note {
    font-size: min(1.8rem, 3.6vw);
    text-align: center;
}

.dr-long-note {
    font-size: min(1.7rem, 3.4vw);
    text-align: center;
}

/* Placements */
.placements {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: min(3rem, 3vh);
}

.placements-container {
    margin-inline: auto;
}

.placements h1 {
    font-size: min(2rem, 4vw);
}

.placements-container>h1 {
    color: #2cccc4;
    text-align: center;
    font-size: min(3rem, 6vw);
}

.placements img {
    width: min(300px, 80%);
    aspect-ratio: 1;
    border-radius: 10px;
    border: 2px solid black;
}

.placement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min(1000px, 100%);
    place-items: center;
}

.place-card {
    width: min(400px, 30vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-card p {
    font-size: min(1.5rem, 3vw);
}


@media(max-width: 600px){
    .placement-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3,1fr);
    }
    .placements img{
        width: 400px;
    }
}
/* Collaboration */

.collab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: min(3rem, 3vh);
    background-color: #478ac9;
    margin-inline: auto;
}

.collab-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min(2rem, 5vw);
    place-items: center;
}

.collab-grid>* {
    overflow: hidden;
}

.collab-grid img {
    transition: 250ms;
    width: min(300px, 30vw)
}

.collab-grid img:hover {
    transform: scale(1.1);
}

.collab-container h1 {
    color: #2cccc4;
    text-align: center;
    font-size: min(4rem, 7vw);
}

@media(max-width: 1000px) {
    .collab-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Recruiters */

.recruiters h1 {
    text-align: center;
    color: #77aad9;
    font-size: min(3rem, 6vw);
}

.recruiters-imgs {
    display: flex;
    justify-content: space-between;
    padding: min(2rem, 2vw);

}

.recruiters-imgs img {
    width: min(20vw, 400px);
    border: 2px solid black;
    aspect-ratio: 1;
}

/* map */
.map-btns {
    display: flex;
    flex-direction: column;
    gap: min(2vh, 2rem)
}

.map .upper-btns {
    background-image: linear-gradient(to right, #478ac9, #ec640c);
    font-weight: 700;
    font-size: min(1.25rem, 2.5vw);
    color: white;
    padding-block: min(1rem, 2vh);
}

.map-section {
    background-color: #2cccc4;
    display: flex;
    width: 100%;
}

.map {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    color: white;
    font-size: min(1.5rem, 3vw);
    width: 90%;
    margin: min(4rem, 4vw) auto;
    overflow: hidden;
}

.map-location {
    width: 100%;
    height: 100%;
}

.address>* {
    text-align: center;
}

.lower-btn {
    padding: min(1rem, 1vh) min(2rem, 2vw);
    color: white;
    background-color: green;
    border: none;
    outline: none;
    font-size: min(1.5rem, 3vw);
    font-weight: 700;
    background-color: #ec640c !important;
    border-radius: min(2.5rem, 2.5vw);
}


.lower-input {
    border: none;
    outline: none;
    padding-block: min(1rem, 1vh);
    font-size: min(1.5rem, 3vw);
    border-radius: min(2.5rem, 2.5vw);
    margin-right: min(1rem, 1vw);
    text-align: center;
}

@media (max-width: 1000px) {
    .map {
        display: flex;
        flex-direction: column;
    }

    .map-location {
        height: 400px;
        margin-top: 4rem;
    }

}