/* Home Carousel */

.home-carousel-container {
    position: relative;
    width: 100%;
    padding: min(2rem, 1vw);
    background: linear-gradient(252.16deg, #FFFFFF 12.88%, #E7F3FF 60.19%);
}
.home-carousel-container img{
    border-radius: 16px;
}
.home-carousel-container .control-next {
    right: 30px !important;
}

.home-carousel-container .control-prev {
    left: 30px !important;
}

/* Welcome */

.welcome {
    background: radial-gradient(44.58% 50.64% at 90.05% 14.94%, rgba(255, 255, 255, 0.72) 0%, #E8F4FF 65.88%, #E8F4FF 65.89%), #F5F5F5 ;
    display: grid;
    padding-block: min(7rem, 7vh);
    padding-inline: min(1rem, 4vw);
    position: relative;
    grid-template-columns: 40% 60%;
    width: 100%;
}

.welcome-bg{
    position: absolute;
    background-repeat: no-repeat;
    width: 40%;
    opacity: 0.1;
    top: 0;
    right: 0;
}


.welcome-img{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}


.welcome-img img{
    border-radius: 16px;
    height: min(700px, 100%);
}
.welcome-text{
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.welcome-text h1 {
    font-size: min(4rem, 8vw);
    color: #2D2D2D;
}

.welcome-text p {
    font-size: min(1.5rem, 3vw);
    line-height: min(2.5rem, 5vh);
    width: 95%;
    color: #2D2D2D;
    font-weight: 400;
}

/* welcome buttons */
/* .learn-more-btn {
    margin: min(2rem, 2vw) min(4rem, 4vw) min(2rem, 4vw) auto;
    border: none;
    outline: none;
    padding: min(1rem, 2vh) min(2rem, 2vw);
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    letter-spacing: .1rem;
    font-size: min(1.125rem, 2.5vw);
    border-radius: 5rem;
    border: 3px solid white;
    transition: 250ms;
}

.learn-more-btn a {
    text-decoration: none;
    color: white;
} */

.develop-skills-btn {
    padding: min(1rem, 2vw) min(2rem, 4vw);
    margin-bottom: min(2rem, 2vw);
    background-color: #005E93;
    padding-inline: 2.5rem;
    color: white;
    font-size: min(2rem, 4vw);
    border-radius: 5rem;
    transition: 250ms;
    display: flex;
    align-items: center;
    gap: min(1rem, 1vw);
    margin-top: auto;
    width: max-content;
}

.develop-skills-btn:hover {
    background-color: var(--primary-clr);
    outline: 3px solid white;
}

.learn-more-btn:hover {
    background-color: var(--secondary-clr);
}
.skill-arrow{
    width: 3%;
}
@media(max-width: 1000px) {
    .welcome {
        grid-template-columns: auto;
        grid-auto-flow: row;

    }
    .welcome p{
        text-align: justify;
    }
    .develop-skills-btn{
        margin-inline: auto;
        margin-bottom: 0;
        margin-top: 1rem;
    }
}


/* Testimonial cards */

.test-section {
    padding-bottom: min(3rem, 3vh);
    background: linear-gradient(180deg, #E7F3FF 0%, #F1F1F1 100%);
    padding: min(7rem, 7vw);
    --padding: 25px;
}

.test-section .control-arrow{
    background-color: #005e93 !important;
}

.test-container{
    padding-inline: var(--padding);
}
.test {
    margin-inline: auto;
    width: 100%;
}
.t-heading {    
    font-size: min(3rem, 6vw);
    padding-inline: var(--padding);
}

.card {
    border-radius: 2rem;
    background: #FDFEFF;
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    position: relative;
}
.card::before{
    content: open-quote;
    font-size: min(40rem, 40vw);
    position: absolute;
    top: min(16rem, 32vw);
    left: 5px;
    color: #F5F5F5;
    z-index: 1;
}
.card::after{
    content: no-close-quote;
    position: absolute;
}
.card-content{
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: min(3rem, 3vw) min(6rem, 6vw);
}
.card p {
    font-size: min(2.5rem, 5vw);
    line-height: 50px;
    color: #606060;
    text-align: start;
    z-index: 2;
}
.testi-name{
    margin-top: auto;
}
.batch{
    text-align: start;
    color: #9A9A9A;
}
.card h1 {
    color: #005E93;
    line-height: 36px;
    text-align: start;
}
.testimonial-img{
    background: linear-gradient(123.5deg, #FFFFFF 23.2%, #EAF4FF 74.08%);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 2rem;
}
.testimonial-img img{
    width: 100%;
}
@media(max-width: 1000px) {
    .test-carousel {
        width: 400px !important;
    }

    .test {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }
}

@media(max-width: 600px) {
    .card {
        padding: 3rem;
    }

    .test h1 {
        font-size: 2.2rem !important;
    }

    .test p {
        font-size: 1rem !important;
        text-align: justify;
    }
}

/* director msg */
.director-msg {
    position: relative;
    z-index: 9;
    background: linear-gradient(180deg, #F1F1F1 0%, #E7F3FF 100%);
    padding: min(5.5rem, 5.5vw) min(4rem, 4vw);
}

.director-heading {
    font-size: min(3.75rem, 7.5vw);
    margin: 0;
    color: #2D2D2D;
}


.director-container {
    background-color: #005E93;
    padding: min(4rem, 4vw) 0 0 min(4rem, 4vw);
    z-index: 11;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}
.director-container::before{
    content: open-quote;
    color: white;
    font-size: min(15rem, 30vw);
    position: absolute;
    transform: translateY(max(-5rem, -5vw));
}

.director-container p{
    color: white;
    font-size: min(2.5rem, 5vw);
    width: 75%;
    line-height: 50px;
    padding-top: min(2rem, 2vw);
}
.director-img{
    position: absolute;
    width: 50%;
    left: 93%;
    top: -10%;
}
.director-img img{
    border-radius: 2rem 6rem 2rem 2rem;
    width: 100%;
}

.director-position{
    position: absolute;
    left: 92%;
    top: 50%;
    color: white;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-40%, -50%);
    transform-origin: left;
}
.director-position::before{
    content: '';
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    transform: translate(-130%, 6px);
}

/* .wmk {
    font-size: min(2rem, 4vw);
    text-align: center;
}

.dr-short-note {
    font-size: min(1.8rem, 3.6vw);
    text-align: center;
}

.dr-long-note {
    font-size: min(1.7rem, 3.4vw);
    text-align: center;
}

.read-arrow {
    height: min(2rem, 2vw) !important;
    aspect-ratio: 1;
}

.read-link {
    text-decoration: none;
    color: white;
    z-index: 12;
}

.read-link {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 13;
} */


/* Committees */
.committees {
    display: flex;
    flex-direction: column;
    padding-inline: 2rem;
}

.committees-container {
    display: grid;
    width: min(1500px, 100%);
    grid-template-columns: repeat(4, 1fr);
    margin-inline: auto;
    gap: 2rem;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    padding-block: 2rem;
}

.committee-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}

.committee-item * {
    text-align: center;
}

@media(max-width: 1000px) {
    .committees-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(4, 1fr);
    }
}

/* Placements */
.placements {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: min(3rem, 3vh);
    position: relative;
}

.placements-container {
    margin-inline: auto;
}

.placements h1 {
    font-size: min(2rem, 4vw);
}

.placements-container>h1 {
    color: var(--secondary-clr);
    text-align: center;
    font-size: min(3rem, 6vw);
}

.placements img {
    width: min(300px, 80%);
    aspect-ratio: 1;
    border-radius: 10px;
    border: 2px solid black;
}

.placement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: min(1000px, 100%);
    place-items: center;
}

.place-card {
    width: min(400px, 30vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-card p {
    font-size: min(1.5rem, 3vw);
}


@media(max-width: 600px) {
    .placement-grid {
        grid-template-columns: auto;
        grid-template-rows: repeat(3, 1fr);
    }

    .placements img {
        width: 400px;
    }
}

/* Collaboration */
.collab {
    position: relative;
}

.collab-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: min(3rem, 3vh);
    background-color: var(--primary-clr);
    margin-inline: auto;
}

.collab-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min(2rem, 5vw);
    place-items: center;
    width: min(1200px, 100%);
}

.collab-grid>* {
    overflow: hidden;
}

.collab-grid img {
    transition: 250ms;
    width: min(300px, 30vw)
}

.collab-grid img:hover {
    transform: scale(1.1);
}

.collab-container h1 {
    color: var(--secondary-clr);
    text-align: center;
    font-size: min(4rem, 7vw);
}

@media(max-width: 1000px) {
    .collab-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Recruiters */
.recruiters{
    background-color: #E7F2FE;
    padding: min(4rem, 4vw);
}

.animate {
    transition: transform 1s ease;
    transform: translateX(-100%);
  }


.recruiters h1 {
    font-size: min(3rem, 6vw);
}

.recruiters-item {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: min(2rem, 2vw);    
    height: 400px;
    place-items: center;
}
.recruiter-img {
    background-color: white;
    padding: min(1rem, 1vw);
    border-radius: 10px;
    width: 100%;
    height: 250px;
    position: relative;
}

.recruiter-img img {
    height: 100%;
    object-fit: contain;
}


/* @media(max-width: 1000px) {
    .recruiters-item {
        grid-template-columns: repeat(2, 1fr);
    }
} */

/* map */
.map-btns {
    display: flex;
    flex-direction: column;
    gap: min(2vh, 2rem);
    padding: 1rem;
}

.map .upper-btns {
    background-image: linear-gradient(to right, var(--secondary-clr), var(--primary-clr));
    font-weight: 700;
    font-size: min(1.25rem, 2.5vw);
    color: white;
    padding-block: min(1rem, 2vh);
}

.map .upper-btns:hover {
    outline: 3px solid white;
}

.map-section {
    background-color: var(--primary-clr);
    display: flex;
    width: 100%;
    position: relative;
}

.map {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    color: white;
    font-size: min(1.5rem, 3vw);
    width: 90%;
    margin: min(4rem, 4vw) auto;
    overflow: hidden;
}

.map-location {
    width: 100%;
    height: 100%;
}

.address>* {
    text-align: center;
}

.lower-btn {
    padding: min(1rem, 1vh) min(2rem, 4vw);
    color: var(--primary-clr);
    font-weight: 700;
    background-color: green;
    border: none;
    outline: none;
    font-size: min(1.5rem, 3vw);
    font-weight: 700;
    background-color: var(--secondary-clr) !important;
    border-radius: min(2.5rem, 2.5vw);
    margin: 1rem;
}

.lower-btn:hover {
    outline: 3px solid white;
}

.lower-input {
    border: none;
    outline: none;
    padding-block: min(1rem, 1vh);
    font-size: min(1.5rem, 3vw);
    border-radius: min(2.5rem, 2.5vw);
    margin-right: min(1rem, 1vw);
    text-align: center;
    width: min(400px, 50%);
}

@media (max-width: 1000px) {
    .map {
        display: flex;
        flex-direction: column;
    }

    .map-location {
        height: 400px;
        margin-top: 4rem;
    }

}