.SocietyForm select {
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    border: 1px solid #f0f0f0;
}

.SocietyForm select option {
    padding: 20px;
    border : 20px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
}