/* About */

.about {
    width: 55%;
    margin-inline: auto;
    margin-bottom: 7rem;
}

.about-title {
    text-align: center;
    font-size: 3rem;
    color: #ec640c;
    font-weight: 700;
    margin-top: 2.5rem;
}

.about-content {
    display: flex;
    gap: 5rem;
    margin-top: 2rem;
}

.about-content p {
    text-align: justify;
    line-height: 1.8rem;
    font-size: 1.37rem;
    width: 400px;
}

.clg-img {
    width: 420px;
    aspect-ratio: 1.4/1.1;
    object-fit: cover;
}

.history-container p {
    text-align: justify;
    line-height: 1.5rem;
    font-size: 1.25rem;

}

