/* About */

.about {
    width: 100%;
    margin-inline: auto;
    margin-bottom: min(7rem, 7vw);
    position: relative;
}
.about-container{
    width: min(1000px, 100%);
    margin-inline: auto;
}

.about-title {
    text-align: center;
    font-size: min(3rem, 6vw);
    color: var(--secondary-clr);
    font-weight: 700;
    margin-top: 2.5rem;
}

.about-content {
    display: flex;
    gap: min(5rem, 5vw);
    margin-top: 2rem;
}

.about-content p {
    text-align: justify;
    line-height: 1.8rem;
    font-size: min(1.37rem, 3vw);
    padding: 0px 15px;
    width: 100%;
}

.clg-img {
    width: 420px;
    aspect-ratio: 1.4/1.1;
    object-fit: cover;
}

.history-container p {
    text-align: justify;
    line-height: 1.8rem;
    font-size: min(1.37rem, 3vw);
    width: 100%;
    padding: 0px 15px;
    width: min(1000px, 100%);
    margin-inline: auto;
    

}

@media(max-width: 1000px) {
    .about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}