.mobile {
    display: none;
}


/* Header */
header {
    background-image: linear-gradient(#478ac9, #ec640c);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.header-top {
    margin-inline: auto;
    display: flex;
    width: min(1000px, 100%);
    justify-content: space-between;
    align-items: center;
}

.header-btns button {
    border: none;
    outline: none;
    background-color: #ec640c;
    margin-inline: 1.5rem;
    padding: min(1.5rem, 1.5vw);
    color: white;
    letter-spacing: .125em;
    font-weight: 700;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    transition: 250ms;
}

.header-btns button:hover{
    background-color: #478ac9;
}

.logo {
    height: min(150px, 20vw);
}


.header-news {
    margin-inline: auto;
}

@media(max-width: 1000px) {
    .menu {
        margin-inline: 2.5rem;
        height: 1.5rem;
    }

}

/* Admission Dialog Form */


.admission-dialog {
    visibility: hidden;
    position: fixed;
    width: min(600px, 90%);
    aspect-ratio: 1;
    background-color: lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.7),
        0 0 50px 200vw rgba(0, 0, 0, 0.7);
    color: white;
    align-items: center;
    z-index: 50;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 2rem;
}

.admission-dialog h1 {
    margin-bottom: 3rem;
    font-size: min(2.5rem, 6vw);
    width: 90%;
    padding: min(.5rem,.5vw) min(4rem, 4vw);
    text-align: center;
    border-radius: 1rem;
    color: rgba(0, 0, 0, 0.8);
}

.close-btn {
    width: 40px;
    aspect-ratio: 1;
    margin: 1rem 1rem 1rem auto;
    cursor: pointer;
}

.admission-form {
    display: flex;
    flex-direction: column;
    gap: min(3rem, 6vw);

}

.admission-form input[type=text],
.admission-form input[type=email] {
    border: none;
    padding: 1rem 3rem;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid #478ac9;
}

.admission-form input[type=submit] {
    background: #478ac9;
    border: none;
    padding: min(1.5rem, 1.5vw);
    color: white;
    font-size: min(2rem, 5vw);
    
}

.admission-form input[type=text]::placeholder,
.admission-form input[type=email]::placeholder {
    color: rgba(0, 0, 0, 0.7);
}

.admission-form input[type=text]:focus,
.admission-form input[type=email]:focus {
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
}

/* NavBar */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#478ac9, #ec640c);
    color: white;
    padding: min(1.5rem, 1.5vw);
    gap: min(2rem, 4vw);
    font-size: min(1.125rem, 1.5vw);
    font-weight: 600;
}

nav a {
    color: white;
    text-decoration: none;
}

.nav-item>a {
    display: flex;
    gap: min(.7rem, 1vw);
    align-items: center;
}

nav>* {
    display: flex;
    gap: min(.7rem, 1.3vw);
    cursor: pointer;
    position: relative;
    align-items: center;
}

.nav-item>a {
    padding-block: 1rem;
}

.active,
.nav-item>a:hover {
    border-bottom: 2px solid rgb(71, 138, 201);
}

nav>*:hover .dropdown {
    display: block;
}

nav img {
    width: 8px;
    height: 8px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ec640c;
    width: max-content;
    z-index: 10;
    padding-block: min(2rem, 2vh);
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    transition: 250ms;
}

.dropdown-item {
    padding-block: min(1rem, 1vh);
    padding-right: min(4rem, 4vw);
    padding-left: min(1rem, 1vw);
}

.dropdown-active-item .dropdown-item {
    background-color: rgba(0, 0, 0, 0.2);
}

.dropdown-item:hover {
    background-color: #478ac9;
}

.courses-dropdown {
    top: 0;
    left: 100%;
    display: none !important;
}

.courses-dropdown-container:hover .courses-dropdown {
    display: block !important;
}


@media(max-width: 1000px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    nav {
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 70svw;
        flex-direction: column;
        z-index: 11;
        font-size: large;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: 250ms;
        justify-content: start;
        box-shadow: 0 0 0 200vw rgba(0, 0, 0, 0.8);
    }

    .nav-item {
        flex-direction: column;
        transition: 250ms;
    }

    .dropdown {
        position: relative;
        inset: auto;
    }

    nav>*:hover .dropdown {
/*         display: none; */
    }

    .mobile-header-btns {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        align-items: center;

    }

    .header-btns button {
        padding-block: 2rem;
    }

    .nav-close {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom: 2rem;
    }

    .nav-close-btn {
        width: 25px;
        height: 25px;
    }
}

/* Footer */

footer {
    background-color: #333333;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: min(1000px, 100%);
    justify-content: center;
    padding: min(4rem, 4vw);
    gap: min(4rem, 4vw);
}

.footer-grid img {
    width: min(75px, 10vw);
    margin-inline: auto;
}

footer p {
    color: white;
    text-align: center;
}

@media(max-width: 800px) {
    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}