.eli_container {
    text-align: center;
    padding: 10px 0;
}

.eli_container>h1 {
    color: #4fb291;
    font-size: 45px;
    font-weight: 700;
}

.btns>button {
    font-size: 25px;
    font-weight: 600;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    margin: 0 20px;
    background-color: #243e55;
    color: white;
}

h3 {
    text-decoration: underline;
}

.info1,
.info2,
.info3,
.info4 {
    margin: 10px 20px;
    padding: 5px;
    background-color: #90e0ef;
    border-radius: 15px;
    font-size: 17px;
}

@media (max-width:1000px) {
    .btns > button{
        margin: 10px 20px;
    }
}

@media (max-width: 500px) {
    .btns > button{
        margin: 10px 20px;
    }
}