/* Administration */
.adminis-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.adminis-carousel {
    margin-inline: auto;
    width: min(1000px, 100%) !important;
    padding: min(2rem,2vw);
}


.adminis {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    margin-inline: auto;
    margin-block: 2rem;
}

.adminis img {
    margin-inline: auto;
    ;
    width: 150px !important;
    aspect-ratio: 1;
    border-radius: 50%;
}

.adminis-heading,
.short-note {
    display: flex;
    flex-direction: column;
    gap: .5rem
}

.short-note {
    font-size: 1.125rem;
}

.long-note {
    text-align: justify;
    line-height: clamp(1.5rem, 2vw, 2rem);
    padding: clamp(50px, 2vw, 100px);
    color: rgba(0,0,0,0.9);
}
