.Dashboardtopbar {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.clock {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    border-radius: 10px;
    font-size: 16px;
    color: #2b2d42;
    font-weight: 600;
}

.clock:hover {
    background-color: #1e293b;
    color: #fff;
}

.clock:nth-child(2) {
    width: 140px;
}

.Dashboardtopbar button {
    background-color: #fff;
    border: 0 solid #e2e8f0;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Dashboardtopbar button:hover {
    background-color: #1e293b;
    color: #fff;
}