@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-clr: #243f56;
    --secondary-clr: #4fb291;
}


*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body,
#root {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.block {
    position: absolute;
    width: 20px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-clr);
    z-index: 101;
}

.left-block {
    left: 0;
}

.right-block {
    right: 0;
}

@media (max-width: 800px) {
    .block {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
}

.loading {
    text-align: center;
}

.show {
    visibility: visible !important;
}

.show-bg {
    display: block;
}


/* Carousel */

.thumbs-wrapper,
.control-dots {
    display: none;
}

.control-arrow {
    position: absolute !important;
    top: 50% !important;
    width: 50px !important;
    height: 50px !important;
    transform: translateY(-50%) !important;
    background-color: #ec640c !important;
    border-radius: 50% !important;
    background-color: var(--secondary-clr) !important;
}

.control-next {
    right: 0 !important;
}

.control-prev {
    left: 0 !important;
}