@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-clr: #243f56;
    --secondary-clr: #4fb291;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../public/fonts/SFPRODISPLAYREGULAR.OTF");
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display-Bold";
    src: url("../public/fonts/SFPRODISPLAYBOLD.OTF");
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display-Medium";
    src: url("../public/fonts/SFPRODISPLAYMEDIUM.OTF");
    font-style: normal;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "SF Pro Display", sans-serif;
}

html {
    max-width: 100%;
    overflow-x: hidden;
}

body,
#root {
    margin: 0;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.block {
    position: absolute;
    width: 20px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--secondary-clr);
    z-index: 101;
}

.left-block {
    left: 0;
}

.right-block {
    right: 0;
}

@media (max-width: 800px) {
    .block {
        display: none;
    }
}

button {
    cursor: pointer;
    border: none;
}

.loading {
    text-align: center;
}

.show {
    visibility: visible !important;
}

.show-bg {
    display: block;
}


/* Carousel */


.control-arrow {
    position: absolute !important;
    top: 50% !important;
    width: 50px !important;
    height: 50px !important;
    transform: translateY(-50%) !important;
    background-color: #ec640c !important;
    border-radius: 50% !important;
    background-color: var(--secondary-clr) !important;
    background: rgba(0, 0, 0, 0.3) !important;
    backdrop-filter: blur(12px) !important;
}
.carousel-slider{
    position: relative;
    overflow: visible !important;
}




a {
    text-decoration: none;
}