.registeration-section {
    background: url('../../images/bg-frame.png');
    background-size: 100%;
}

.personal-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-block: min(4rem, 4vw);
    width: min(1500px, 100%);
    margin-inline: auto;

}
.alumniform-other{
    grid-column: 2;
}

.registeration-section h1{
    font-family: "SF Pro Display-Bold";
    color: #2d2d2d;
    text-align: center;
    font-size: min(4rem, 4vw);
}


.personal-details {
    display: flex;
    flex-direction: column;
    width: min(800px, 100%);
    gap: .25rem;
    font-size: 1.2rem;
}

.personal-details h1{
    text-align: center;
    font-size: min(3rem, 3vw);
}


.personal-details button{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1rem 2rem;
    background-color: #005E93;
    color: white;
    font-size: 1.5rem;
}
.personal-details label {
    border: none;
    outline: none;
}
.personal-details input:not(input[type=radio]) {
    border: 2px solid rgb(0, 0, 255, 0.2);
    border-radius: 5px;
    outline: none;
    height: 30px;

}