.alumini-meet-section {
    background-image: url("../../images/bg-frame.png");
}
.alumnimeet {
    width: min(1500px, 100%);
    margin-inline: auto;
}
.alumnimeet h1{
    font-size: min(4rem,8vw);
    text-align: center;
    font-family: "SF Pro Display-Bold";
    color: #2d2d2d;
}
.alumnimeet h2{
    font-family: "SF Pro Display-Bold";
    font-size: min(2rem,4vw);
    width: min(1500px,90%);
    margin-inline: auto;
}
.alumnimeet p{
    font-size: min(1.37rem,3vw);
    text-align: justify;
    width: min(1500px,90%);
    margin-inline: auto;
}
.alumnimeet li{
    font-size: min(1.37rem,3vw);
}