.sem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: min(1rem, 1vw) min(2rem,2vw);
    background-color: rgba(0,0,0,0.1);
    padding-inline: 1rem;
    border-radius: 5px;
}
.sem img{
    height: 30px;
    width: 30px;
}

.quespapers{
    margin: min(2rem, 2vw) min(2rem,2vw);
}
.quespapers h1{
    font-size: min(3rem,6vw);
    text-align: center;
    background-color:var(--primary-clr);
    color: var(--secondary-clr);
    border-radius: 10px;
    padding-block: 1rem;
}
.quespapers h2{
font-size: min(2rem,4vw);
color: var(--primary-clr);    
}
.quespapers p{
    font-size: min(1rem,2vw);
}

.year-box{
    position: fixed;
    visibility: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    gap: min(2rem,2vw);
    padding: 2rem 5rem;
    background-color: rgb(1, 11, 49);

}
.year-btn{
    padding: min(1rem,1vw);
    width: min(10rem,10vw);
    font-size: min(1.5rem,3vw);
    background-color: white;
    border-radius: 5px;
    outline: none;
}